//
// Nav
//


// Nav wrapper (container)
.dark-mode-bg {
    background-color: $dark-mode-bg;
}

.light-mode-bg {
    background-color: $light-mode-bg;
}

.dark-mode-box {
    box-shadow: $dark-mode-nav-box-shadow;
}

.light-mode-box {
    box-shadow: $light-mode-nav-box-shadow;
}

// Nav wrapper
.nav-wrapper {
    padding: 1rem 0;
    @include border-top-radius($card-border-radius);

    + .card {
        @include border-top-radius(0);
        @include border-bottom-radius($card-border-radius);
    }
}


// Nav links

.nav-link {
    color: $nav-link-color;

    &:hover {
        color: $nav-link-hover-color;
    }

    i.ni {
        position: relative;
        top: 2px;
    }
}
